/********** Template CSS **********/
/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

img.animated.pulse {
  animation-duration: 5s;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn.btn-primary {
  color: var(--bs-white);
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}


/*** Navbar ***/
.sticky-top {
  top: -150px;
  transition: .5s;
}

.navbar {
  padding: 11px 0 !important;
  height: 85px;
}

.style-navbar {
  padding-top: 0;
}

.navbar .navbar-nav .nav-link {
  margin-right: 45px;
  padding: 0;
  color: white;
  font-weight: 500;
  transition: .5s;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 2);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 8px;
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.7);
  }

  .style-navbar {
    padding-top: 19px;
  }
  
  .custom-button-burguer {
      border: 1px solid white !important;
      width: 45px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .custom-button-burguer:focus {
    box-shadow: none !important;
  }

  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    border: none;
    margin-top: 0;
    top: 150%;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: .5s;
    opacity: 1;
  }
}


/*** Hero Header ***/
.hero-header {
  position: relative;
  margin-top: -85px;
  padding-top: 12rem;
  padding-bottom: 6rem;
  background: url(./assets/img/bg.png) center center no-repeat;
  background-size: cover;
}

.hero-header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.hero-header .container {
  position: relative;
  z-index: 1;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
  color: var(--bs-light);
}


/*** Feature ***/
.feature-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.feature-item .border {
  position: relative;
  border-color: rgba(255, 255, 255, .2) !important;
  z-index: 1;
}


/*** Deal ***/
.deal {
  position: relative;
  background: url(./assets/img/bg.png) center center no-repeat;
  background-size: cover;
}

.deal::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.deal .bg-white {
  position: relative;
  z-index: 1;
}

.deal .cdt span {
  display: block;
  font-size: 16px;
  font-style: italic;
  font-weight: 200;
  text-transform: capitalize;
}


/*** How To Use ***/
.how-to-use {
  position: relative;
  background: url(./assets/img/bg.png) center center no-repeat;
  background-size: cover;
}

.how-to-use::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.how-to-use .container {
  position: relative;
  z-index: 1;
}

.how-to-use .border {
  border-color: rgba(255, 255, 255, .2) !important;
}


/*** Product ***/
.product-item {
  transition: .1s;
}

.product-item:hover {
  border-width: 0 !important;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
}

/*** Testimonial ***/
.testimonial {
  position: relative;
  background: url(./assets/img/bg.png) center center no-repeat;
  background-size: cover;
}

.testimonial::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.testimonial .testimonial-carousel {
  position: relative;
  z-index: 1;
}

.testimonial-carousel .owl-item img {
  width: 120px;
  height: 120px;
  border-color: rgba(255, 255, 255, .2) !important;
  margin: 0 auto 20px auto;
  border-radius: 100px;
}

.testimonial-carousel .owl-dots {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 30px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  background: var(--bs-dark);
}


/*** Blog ***/
.blog-item {
  transition: .1s;
}

.blog-item:hover {
  border-width: 0 !important;
  box-shadow: 0 0 35px rgba(144, 188, 121, .25);
}

.blog-item:hover a.btn {
  color: var(--bs-white);
  background: var(--bs-primary);
}


/*** Contact ***/
.contact-info-item::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.contact-info-item .border {
  position: relative;
  border-color: rgba(255, 255, 255, .2) !important;
  z-index: 1;
}


/*** Newsletter ***/
.newsletter {
  position: relative;
  background: url(./assets/img/bg.png) center center no-repeat;
  background-size: cover;
}

.newsletter::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .1);
  clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.newsletter .container {
  position: relative;
  z-index: 1;
}

.newsletter .form-control {
  background: rgba(255, 255, 255, .3);
}


/*** Footer ***/
.footer .btn.btn-link {
  display: block;
  margin-bottom: 10px;
  padding: 0;
  text-align: left;
  color: var(--bs-body);
  font-weight: normal;
  transition: .3s;
}

.footer .btn.btn-link:hover {
  color: var(--bs-primary);
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  border-top: 3px solid var(--bs-light);
}

.footer .copyright a {
  color: var(--bs-body);
}

.footer .copyright a:hover {
  color: var(--bs-primary);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 3px solid var(--bs-light);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}


a {
  text-decoration: none !important;
}